@forward 'src/styles/colors';

button {
  all: unset;
}

.checkboxContainer {
  display: flex;
  align-items: center;

  .label {
    color: var(--color-light-100);
  }

  .disabledLabel {
    color: var(--color-dark-100);
  }

  .checkboxRoot {
    cursor: pointer;

    display: flex;
    justify-content: center;

    padding: 5px;

    border-radius: 50%;

    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-dark-500);
    }

    &:active {
      background-color: var(--color-dark-100);
    }

    /* &:focus {
      background-color: var(--color-dark-100);
    } */

    &:disabled {
      opacity: 0.6;

      .checkboxIndicator {
        color: var(--color-dark-100);
      }
    }
  }

  /*  .checked {
    background-color: white;
    border: 3px solid white;
  } */
}
