@forward 'src/styles/colors';
@forward 'src/styles/typography';

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .label {
    color: var(--color-dark-100);
  }

  .disabled {
    color: var(--color-dark-500);
  }

  .error {
    color: var(--color-danger-300);
  }

  .textField {
    position: relative;
    display: inline-block;

    .input {
      all: unset;

      box-sizing: border-box;
      width: 100%;
      min-width: 280px;
      padding: 6px 12px;

      font-size: var(--font-size-m);
      line-height: var(--line-height-m);
      color: var(--color-dark-100);

      border: 2px solid var(--color-dark-500);
      border-radius: 2px;

      transition: all 0.3s ease;

      &:hover {
        background-color: var(--color-dark-700);
        border: 2px solid var(--color-dark-100);
      }

      &:focus {
        border: 2px solid var(--color-info-700);
      }

      &:active {
        color: var(--color-light-100);
        border: 2px solid var(--color-light-100);
      }

      &:disabled {
        color: var(--color-dark-300);
        border: 2px solid var(--color-dark-300);
      }
    }

    .inputError {
      all: unset;

      box-sizing: border-box;
      width: 100%;
      min-width: 280px;
      padding: 6px 12px;

      font-size: var(--font-size-m);
      line-height: var(--line-height-m);
      color: var(--color-danger-300);

      border: 2px solid var(--color-danger-300);
      border-radius: 2px;
    }

    .iconStart {
      position: absolute;
      top: 8px;
      bottom: 6px;
      left: 10px;
    }

    .iconEnd {
      position: absolute;
      top: 8px;
      right: 16px;
      bottom: 6px;
    }

    .inputIconStart {
      padding-left: 35px;
    }

    .inputIconEnd {
      padding-right: 45px;
    }
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
