@forward 'src/styles/boilerplate';
@forward 'src/styles/colors';
@forward 'src/styles/typography';

@import 'src/styles/mixins/button-mixin';

.primary {
  @include button-mixin(
    var(--color-light-100),
    0 4px 18px 0 rgba(140, 97, 255, 0.35),
    14px,
    var(--color-accent-500)
  );

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  @include button-mixin(
    var(--color-light-100),
    0 4px 4px 0 rgba(77, 86, 96, 0.13),
    14px,
    var(--color-dark-300)
  );

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  @include button-mixin(var(--color-accent-500), '', 14px, transparent);

  border: 2px solid var(--color-accent-500);

  &:hover {
    background-color: var(--color-dark-500);
    border: 2px solid var(--color-accent-700);
  }

  &:active {
    background-color: var(--color-accent-900);
    border: 2px solid var(--color-accent-700);
  }

  &:focus {
    background-color: transparent;
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    background-color: transparent;
    border: 2px solid var(--color-accent-900);
  }
}

.link {
  @include button-mixin(var(--color-accent-500), '', 16px, transparent);

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
    border-radius: 130px;
  }
}

.fullWidth {
  width: 100%;
}
